$black: #000000;
$white: #FFFFFF;

$secondary: #26041E;
// $secondary: #1A0315;
$lighter-accent: #994A8E;
$light-accent: #6E3667;
$sharp-accent: #88D317;

$lightest-gray: #f7f7f5;
$lighter-gray: #f2f2f2;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #535353;

$blue: #29a5dc;

$error: #d50000;
$good: #7fae2e;
