.deck-sidebar {
  width: 20vw;
  min-width: 200px;
  background-color: $white;
  align-items: stretch;
  box-sizing: border-box;

  p {
    background-color: $lightest-gray;
    padding: 20px 15px;
    border-right: 3px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    font-size: 18px;
    font-weight: bold;
  }
}

.deck-sidebar-list {
  background-color: $lightest-gray;
  flex: 1;
  border-right: 3px solid $light-gray;
}
