.home-view {
  align-items: stretch;
  height: 100%;
  max-height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
  background-color: $white;
  justify-content: space-between;
  min-width: 850px;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.library-main {
  box-sizing: border-box;
  min-width: 600px;
  flex: 0.8;
  overflow-y: auto;
}

.language-select {
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    padding: 5px 8px;
    padding-right: 22px;
    width: 100%;
  }

  p {
    position: absolute;
    right: 6px;
  }

  i {
    color: $gray;
  }
}

.block-form {
  align-items: stretch;
  padding: 30px 40px;

  .input-container {
    border: 2px solid $gray;
    min-height: 100px;
    position: relative;
    padding: 20px;
    margin: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .floating-label {
    background-color: $white;
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0px 10px;
    font-size: 16px;
  }

  #block {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.create-block {
  margin: 20px;
  font-weight: bolder;
  text-align: center;
}

.tag-suggestions {
  position: absolute;
  z-index: 2;
  border: 1px solid $gray;
  top: 50px;
  background-color: $lightest-gray;

  li {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  mark {
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
  }
}

.tag-suggestion-active {
  background-color: $light-gray;
}

.tags-input {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  background-color: $lightest-gray;

  input {
    margin: 0;
  }
}

.tag-remove {
  color: $black;
  padding-left: 5px;
  margin: 0;
  display: inline-block;
  position: relative;
  top: -3px;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.slim-button {
  padding: 5px 10px;
  margin: 10px 0px;
}

.heading {
  font-weight: normal;
  color: #88D317;
  text-align: left;
  text-shadow: none;
  font-size: 36px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid $light-gray;
}

.keyword {
  position: absolute;
  background-color: $sharp-accent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-label {
  padding: 0 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $sharp-accent;
}

input:focus + .slider {
  box-shadow: 0 0 1px $sharp-accent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ace_gutter-cell.ace_breakpoint{
  border-radius: 20px 0px 0px 20px;
  background-color: rgba($lighter-accent, 0.5);
  box-shadow: 0px 0px 1px 1px $light-accent inset;
}

.ace_selection {
  background-color: rgba(#B5D5FF, 0.5) !important;
}
