.modal-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal-container {
  padding: 30px;
  border-radius: 5px;
  width: 300px;
  background-color: $white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

  a:hover {
    text-decoration: underline;
  }
}

.modal-container header {
  margin-top: 10px;
  margin-bottom: 48px;
  color: $sharp-accent;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
