.nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 0 2.5%;
  border-top: 4px solid $sharp-accent;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-sizing: border-box;
  background-color: $secondary;
}

.nav-footer menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-footer ul {
  padding: 0 20px;
}

.nav-footer li {
  vertical-align: middle;
}

.nav-footer p {
  display: flex;
  align-items: center;
}

.nav-footer a {
  font-weight: bold;
  height: 100%;
  vertical-align: middle;
  color: $gray;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.nav-footer a:hover {
  color: $lighter-accent;
}

.nav-footer small {
  color: $gray;
  text-align: right;
  padding-right: 35px;
}
