.study {
  white-space: nowrap;
  padding-top: 0px;
  height: 100vh;
  width: 100vw;
}

.study-sidebar {
  height: 100%;
  width: 25vw;
  background-color: $secondary;
  border-right: 4px solid $sharp-accent;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.sidebar-header {
  position: relative;
  width: 100%;
  height: 6vh;
  padding: 0 5vw 0 1vw;
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.7);
  background-color: $light-accent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  button {
    padding: 8px 15px;
    background-color: $lighter-accent;
  }

  button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  strong {
    color: $light-gray;
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 5px;
  }

  p {
    color: $white;
    font-size: 18px;
  }
}

.sidebar-main {
  height: 94vh;
  width: 100%;
  padding: 2vh 2vw;
}

.sidebar-info {
  border-radius: 3px;
  margin-top: 2vh;
  background-color: $light-accent;

  hr {
    margin: 0;
    padding: 0;
    border-color: $secondary;
    border-width: 5px;
    width: 100%;
  }

  .info {
    margin: 1vh 0;
    height: 45%;
    width: 100%;
    justify-content: center;

    small {
      font-size: 14px;
      color: $white;
      font-weight: bold;
      width: 90%;
    }
  }
}

.sidebar-gauge {
  position: relative;
  height: 21vw;

  .stroke {
    stroke: $sharp-accent;
    stroke-width: 3px;
  }

  .floating-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 50%;
    width: 50%;
    left: 0;
    right: 0;

    .big-text {
      text-align: center;
      position: relative;
      color: $white;
      line-height: 1.11em;
      font-size: 4.2em;

      strong {
        font-size: 20px;
        font-weight: bold;
        color: $white;
        bottom: 0%;
        right: calc(-5% - 15px);
        display: block;
        position: absolute;
      }
    }

    .small-text {
      color: $light-gray;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.sidebar-bars {
  width: 100%;
  justify-content: space-between;
}

.hero {
  background: $light-accent;
  border: 2px solid $lighter-accent;
  margin: 3vh 0;
}

.sidebar-bar {
  width: 100%;
  border-radius: 15px;
  padding: 0 1vw;
  height: 4vh;
  font-size: 1em;

  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
    font-weight: bold;
    width: 50%;

    i {
      font-size: 1.2em;
      padding-right: 10px;
    }
  }

  .progress-back {
    width: 40%;
    border: 1px solid $lighter-accent;
    height: 35%;
    background: $secondary;

    .progress-fill {
      height: 100%;
    }
  }
}

.sidebar-divider {
  border-color: $lighter-accent;
}

.study-main {
  box-sizing: border-box;
  padding: 16px 64px;
  width: 75vw;
  min-width: 550px;
  height: 100%;

  .study-text {
    display: flex;
    align-items: center;
    font-family: $paragraph;
    text-align: right;
    height: 3vh;
    width: 100%;
  }

  .right {
    justify-content: flex-end;
  }

  .center {
    justify-content: center;
  }

  .center-bottom {
    align-items: flex-end;
    justify-content: center;
  }

  .study-block {
    width: 100%;
    height: 75vh;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);

    header {
      height: 10%;
      padding: 15px 30px;
      justify-content: space-between;
      border-bottom: 2px solid $light-gray;

      i {
        font-size: 1.8em;
        color: $dark-gray;
        padding-right: 5px;
      }

      h1 {
        font-size: 1.2em;
        text-shadow: none;
        text-transform: capitalize;

        strong {
          font-size: 1.1em;
        }
      }
    }
  }

  .study-heading {
    display: flex;
    align-items: center;
    font-family: $heading;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    height: 3vh;
    width: 100%;
    background-color: $lighter-gray;
  }

  .study-skip {
    color: $lighter-accent;
  }

  .study-buttons {
    margin: 1vh;
    width: 100%;
    height: 8vh;
  }

  .study-button {
    cursor: pointer;
    height: 100%;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  }

}

.card-main {
  align-items: flex-start;
  height: 90%;

  h1 {
    padding: 15px 30px;
    font-size: 1.5em;
    text-shadow: none;
    text-align: left;
    white-space: normal;
  }
}

.code-container {
  width: 100%;
  flex: 1;
  align-items: stretch;

  .code-pane {
    flex: 1;
  }

  .solution {
    border-left: 2px solid $light-gray;

    p {
      background-color: "#f7f7f5";
      opacity: 0.7;
    }

    input {
      background-color: "#f7f7f5";
      opacity: 0.7;
    }
  }
}

#block {
  border: 2px solid $light-gray;
  border-width: 2px 0 2px 0;
  box-sizing: border-box;
  flex: 1;
}

#solution {
  border: 2px solid $light-gray;
  border-width: 2px 0 2px 0;
  box-sizing: border-box;
  flex: 1;
}

.editable {
  background-color: $lighter-gray;
  opacity: 1;
  position: absolute;
}

.output-row {
  justify-content: flex-start;
  padding: 15px 30px;
  width: 100%;
}

.output-label {
  font-family: $paragraph;
  font-size: 14px;
  height: 100%;
  padding-right: 10px;
  color: $dark-gray;
}

.output {
  font-size: 16px;
  font-weight: bold;

  input {
    margin: 0;
    height: 100%;
    padding: 0;
    padding-left: 10px;
    font-family: $code;
    font-weight: normal;
  }
}

@media (max-width: 1000px) {
  .study-sidebar {
    display: none;
  }
  .study-main {
    width: 100vw;
  }
}
